@model MusicApp2017.Models.Genre
<h2>Edit Genre</h2>
<form asp-action="Edit">
    <input type="hidden" asp-for="GenreID" />
    <label asp-for="Name"></label>
    <input asp-for="Name"  /><br />
    <span asp-validation-for="Name" class="text-danger"></span>
    <span class="alert-danger">@ViewData["Error"]</span> <br />
    <input type="submit" value="Save" class="btn btn-default" />
</form>
<a asp-action="Index">Return to Genre List</a>