@model MusicApp2017.Models.Artist
<h2>Add New Artist</h2>
<form asp-action="Create">
    <label asp-for="Name" ></label>
    <input asp-for="Name" /> <br />
    <span asp-validation-for="Name" class="text-danger"></span>
    <span class="alert-danger">@ViewData["Error"]</span> <br />
    <label asp-for="Bio"></label>
    <textarea asp-for="Bio" ></textarea> <br />
    <input type="submit" value="Create" class="btn btn-default" />
</form>

<a asp-action="Index">Return to Artist List</a>